/*

css 기본선택자
1) 전체 선택자:*
2) 태그선텍자: 태그명 ex>p
3) 클래스 선택자 : #아이명   #title
4) 그룹선택자 : p, .my-app, #titile

*/
*{ margin: 0; padding: 0;}

a{
    color:red;
text-decoration: none;
background-color:#005891;
}

.logo {
width:100px;
margin: 0 auto;
padding: 20px;
}

.menu {

    padding: 20px;
    text-align: center;
    background-color:#005891;
color:white;
}

a{ 
    color:white;
    margin: 20px;
    }

.hero{
    width:800px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;

}