# 깃이 추적,관리 하지 않을 대상을 지정하는 파일
# 깃헙에서 Repository 생성시 만들거나 별도로 추가할 수 있음.
# 자주쓰는 .gitignore 패턴은 구글링!
# 주로, 보안상 위험한 파일(Key값등이 저장된 파일)이나
# 프로젝트 무관한 파일(zip파일이나 ppt? hwp파일?)
# 용량이 너무 큰것(동영상 vs 유투브 or 스트리밍 서비스를 활용!)

# 제외할 파일 리스트, 한줄에 하나씩!
*.db
*.zip
*.ppt
*.pptx
*.xls
*.xlsx
*.xlsm
*.doc
*.mp4
*.fig

# 제외할 폴더 리스트
asset/